<div class="navbar">
    <!--<button class="navbar-btn border-right"><i class="material-icons">
        info
        </i>Conocé</button>
    <button class="navbar-btn border-right"><i class="material-icons">
        autorenew
        </i>Reciclá</button>
    <button class="navbar-btn"><i class="material-icons">
        perm_identity
        </i>Mi perfil</button>
    -->
    <button class="navbar-btn col-4" routerLink="information" mat-raised-button color="accent"><i class="material-icons">
        info
        </i>Conocé</button>
    <button class="navbar-btn col-4" routerLink="recycle" mat-raised-button color="accent"><i class="material-icons">
        autorenew
        </i>Reciclá</button>
    <button class="navbar-btn col-4" routerLink="profile" mat-raised-button color="accent"><i class="material-icons">
        perm_identity
        </i>Mi perfil</button>





</div>