<app-nuevo-pedido></app-nuevo-pedido>
<mat-toolbar class="navbar" color="primary">
    <div class="icono" routerLink="information">
        <mat-icon aria-hidden="false">lightbulb</mat-icon>
        <span>Tips</span>
    </div>
    <div class="icono">
        <mat-icon aria-hidden="false">list</mat-icon>
        <span>Posts</span>
    </div>
    <div class="icono" routerLink="recycle">
        <mat-icon aria-hidden="false">home</mat-icon>
        <span>Home</span>
    </div>
    <div class="icono" routerLink="profile">
        <mat-icon aria-hidden="false">person</mat-icon>
        <span>Perfil</span>
    </div>
</mat-toolbar>