mat-toolbar {
  display: flex;
  justify-content: space-around;
  height: 4rem;
}

span {
  font-size: 1rem;
}

.icono {
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
