div {
    text-align: center;
    text-justify: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.da {}

.center {
    display: inline
}