<div class="bloque">
    <div class="avatar">
        <img src="https://icon-library.net/images/avatar-icon-png/avatar-icon-png-8.jpg">
    </div>
</div>

<div class="nombre">
    <h3>Santiago Mamani</h3>
</div>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput readonly="true" placeholder="Email" value="jmamani@uade.edu.ar">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Dirección" value="Calle Falsa 123">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Localidad" value="CABA">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Puntos" value="40">
    </mat-form-field>

    <button mat-stroked-button color="primary" (click)="null">
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</form>