.item {
  border: 1px solid grey;
  height: 140px;
  width: 33%;
  img {
    height: 100%;
    width: auto;
  }
}

.fila {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

mat-form-field {
  margin-top: 10px;
}

mat-chip-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.6rem;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: #00c853;
  color: white;
}
