<div class="container">
    <mat-form-field class="example-full-width">
        <input matInput (keyup)="filtrar(buscador.value)" #buscador placeholder="Buscar material..." value="Buscar material...">
    </mat-form-field>

    <div class="alert alert-warning fadeIn" *ngIf="aux.length == 0">
        <span>No se han encontrado resultados! Buscá    otro material</span>
    </div>

    <table class=" table table-hover fadeIn " *ngIf="aux.length> 0">
        <thead>
            <tr>
                <th>
                    Material
                </th>
                <th>
                    Info
                </th>
                <th>
                    Reciclable
                </th>
                <th>
                    No reciclable
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let tip of aux">
            <tr>
                <td>
                    {{tip.material}}
                </td>
                <td>
                    {{tip.info}}
                </td>
                <td *ngIf="tip.reciclable" class="text-success">
                    X
                </td>
                <td *ngIf="!tip.reciclable">

                </td>
                <td *ngIf="!tip.reciclable" class="text-danger">
                    X
                </td>
                <td *ngIf="tip.reciclable">

                </td>
            </tr>
        </tbody>
    </table>
</div>