#esRec{
    color: green;
    font-weight: bold;
    letter-spacing: 0.2mm;
}

#noEsRec{
    color: red;
    font-weight: bold;
    letter-spacing: 0.2mm;
}

#cierreVerde{
    background-color:white;
    margin: 0px 0px 10px 150px;
    padding: auto;
    font-weight: bold;
    letter-spacing: 0.3mm;
    color: green;
}

#cierreRojo{
    background-color:white;
    margin: 0px 0px 10px 150px;
    padding: auto;
    font-weight: bold;
    letter-spacing: 0.3mm;
    color: red;
}

#texto{
    color:black;
    text-align: justify;
}